* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
figure {
  border: solid 2px red;
  margin: 1em;
}
img {
  width: 100%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameboard {
  border: solid 2px blue;
  margin: 1vw;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
